.container {
	width: 250px;
	height: 350px;
	position: relative;
}

.photo {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		object-position: center center;
}

.favorite {
	position: absolute;
	width: 45px;
	height: 45px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	background-color: transparent;
}

.favorite img {
	width: 45px;
	height: 45px;
}

.dark {
	filter: drop-shadow(0 0 1px black);
}

.white {
	filter: drop-shadow(0 0 1px white);
}